
<%= simple_form_for(@video) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= select_tag "video[category][]", options_for_select(Video.categories.map {|k, v| [Video.translate_enum_name(:categories, k), k]}, nil), class: 'form-control' %>
    <%= f.input :youtube_url %>
    <%= f.input :youtube_id, label: "Youtube ID" %>
    <label>Status</label>
    <%= f.input :active %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
