<%= render partial: "shared/header" %>
<%= turbo_frame_tag "hero_frame" do %>
  <div id="<%= dom_id video %>">
    <section class="video-box">
      <div class="container"> 
      <h4>Home > Videos > <%= video.title %></h4>
          <div class="media-box">
            <div class="info-box">
              <% video.pictures.each do |pic| %>
                <% next unless pic.file.present? %>
                <%= image_tag pic.file_url %>                
              <% end %>
              <h1><%= video.title %></h1>
              <h2><%= video.description %></h2>
            </div>
            <iframe src='https://youtube.com/embed/<%= @video.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
          </div>

        
      </div>
    </section>
  </div>

  <%= render partial: "videos/video-carousel" %>
<% end %>

<%= render partial: "shared/footer" %>