<%= render partial: "shared/header" %>
<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>

<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
  <% end %>
</div>
a
<%= link_to "New room", new_room_path %>

<%= render partial: "shared/footer" %>
