<%= render partial: "shared/header" %>
<p style="color: green"><%= notice %></p>

<section class="room">
  <div class="container">
    <div class="livechat">
      <%= turbo_stream_from @room %>
      <%= turbo_frame_tag "room" do %>
        <%= render @room %>
      <% end %>
      <div id="messages">
        <%= render @room.messages %>
      </div>

      <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
    </div>
  </div>
</section>

<%= render partial: "shared/footer" %>
