<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Ciroflix - Assista vídeos de Ciro Gomes grátis</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&family=Roboto+Serif:wght@100;300;700;900&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="/app/assets/jquery.min.js"></script>
    <script src="/app/assets/owl.carousel.min.js"></script>
    <script src="/app/assets/setup.js"></script>
    <script src="https://kit.fontawesome.com/86d63c5c3f.js" crossorigin="anonymous"></script>

    
  </head>
  <body>
  <main class="container">
      <header>
        <div class="navigation-1">
        <div class="logo-header">
           <a href="/"><%= image_tag "logo.png", alt: "Logo Ciroflix", height: 40 %></div></a>

          <!-- <h2 class="logo">CIROFLIX</h2> -->
          <nav>
            <a href="/">Início</a>
            <a href="#">Blog</a>
            <a href="mailto:xspynks@gmail.com" target="_blank">Contato</a>
          </nav>
        </div>

        <div class="navigation-2">
            <a href="#"><i class="fa-brands fa-instagram fa-xl	"></i></a>
            <a href="#"><i class="fa-brands fa-twitter fa-xl	"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin fa-xl	"></i></a>
          </a>

        </div>
      </header>
      
    <%= yield %>    
  </body>
</html>